@charset UTF-8;

html, body {
	
	height: 100%;
	width: 100%;
	
	margin: 0;
	padding: 0;
	
}

body {
	
	background-color: #dce0ed;
	
	color: #543764;
	font-family: 'Dosis', Helvetica, Arial, 'sans-serif';		
	
}

	body > header {
		
		height: 100px;
		width: 100%;
		
	}
	
		body > header p {
		
			display: inline-block;
			
			padding: 20px 0;
			margin: 0;
			
			width: 100%;
			
			font-size: 60px;
			line-height: 60px;
			text-align: center;
		}

	.disabled {
	
		opacity: 0.2;
	
	}
	
	nav#steps {
	
		width: 100%;
		height: 70px;	
		
		text-align: center;
		
		font-size: 25px;
		line-height: 30px;
		
	}
	
		nav#steps span {
		
			display: inline-block;
			
			padding: 10px 10px 30px 10px;
			margin: 0 10px 0 10px;
			
		}
		
			nav#steps span.active {
			
				background-color: #3E508C;
				color: white;
			
			}

	section.step header {
	
		height: 50px;
		width: 100%;
	
	}

		section.step header p{
		
			font-size: 20px;
			padding-left: 200px;
			
		}
	
	
	section.step {
	
		display: none;
	
		background-color: white;
		
		margin-bottom: 100px;
	
	}
	
	section.step.active {
	
		display: block;
	
	}
		
		section.step.query form {
		
			display: block;
		
			position: relative;
			left: 50%;
		
			width: 760px;
		
			padding: 20px;
		
			margin: 0 0 0 -400px;
			
		}
		
			section.step.query form label {
				
				position: relative;
				
				display: block;
				
				overflow: hidden;
				
				border-radius: 10px;
				padding: 5px;
				
				font-size: 20px;
				
			}
			
				section.step.query form label p {
				
					position: relative;
					
					float: left;
					
					margin: 0;
					
				}
				
				section.step.query form label input {
					
					display: block;
					
					position: relative;
					
					float: right;
				
				}
			
			section.step.query form input[type=text] {
	
				width: 75px;
				
				border-radius: 5px;
				border: 0;
					
				border-radius: 10px;
	
				text-align: center;
			}
		
				section.step.query form section header {
				
					position: relative;
				
					display: inline-block;
					
					height: 40px;
					width: 100%;
					
					padding: 5px;
					margin-bottom: 10px;
					
					border-botttom: 1px solid black;
				
					font-size: 30px;
				}
				
				section.step.query form section.twoCol {
				
					position: relative;
					
					overflow: hidden;
				
				}
				
					section.step.query form section.twoCol div {
					
						position: relative;
					
						width: 350px;
					
					}
					
						section.step.query form section.twoCol div.align-left {
						
							float: left;
							margin-left: 10px;
							
						}
						
						section.step.query form section.twoCol  div.align-right {
						
							float: right;
							margin-right: 10px;
							
						}
						
						section.step.query form section.twoCol div.align-left label:nth-child(odd), 
						section.step.query form section.twoCol div.align-right label:nth-child(even),
						section.step.query form section.twoCol div.align-left label:nth-child(even) input[type=text], 
						section.step.query form section.twoCol div.align-right label:nth-child(odd) input[type=text] {
							
							background-color: #ddd
							
						}
		
		section.step.query section#isFits input#isFits {
		
			display: none;
		
		}
		
		section.step.query section#submit button {
		
			position: relative;
			
			left: 50%;
			
			height: 40px;
			width: 200px;
		
			background: none;
			
			margin-top: 20px;
			margin-left: -100px;
			
			border: none;
			
			font-family: inherit;
			font-size: 25px;
			line-height: 40px;
			
			vertical-align: center;
			
		}
		
			section.step.query section#submit button:hover{
			
				cursor: pointer;
				
				background-color: #ddd;
				
				color: #fff;
			}
	
		section.step.processing span {
		
			display: inline-block;
			
			width: 100%;

			text-align: center;
			
		}
			
			section.step.processing span#procMsg {
			
				margin: 15px 0 5px 0;
			
				font-size: 20px;
				line-height: 20px;
				
			}
			
			section.step.processing span#procCrt {
			
				margin: 5px 0 15px 0;
			
				font-size: 15px;
				line-height: 15px;
				
			}
		
	section.step.results {
	
	}
	
		section.step.results div.container {
		
			display: block;
		
			position: relative;
			left: 50%;
		
			width: 760px;
		
			padding: 20px;
		
			margin: 0 0 0 -400px;
		
		}
		
			section.step.results div.container header{
		
				display: inline-block;
				float: left;		
		
				width: auto;
		
				margin: 10px 0;
				
				font-size: 30px;
		
			}
			
			section.step.results div.container a#download {
		
				display: inline-block;
				float: right;
		
				margin: 15px 0;
				padding: 5px;
				
				background-color: #543764;
				
				font-size: 20px;
				color: #fff;
				text-decoration: none;
				
			}
			
				section.step.results div.container a#download:hover {
				
					background-color: #fff;
				
					color: #543764;
				
				}
			
			section.step.results div.container div#resultImages {
			
				margin-top: 70px;
			
			} 
			
				section.step.results div.container div#resultImages figure.resultImage {
				
					display: inline-block;
					
					width: 225px;
					height: 250px;
					
					margin: 20px 0 20px 21px;
				
				}
				
					section.step.results div.container div#resultImages figure.resultImage img {
					
						width: 100%;
						height: auto;
					
					}