@charset UTF-8;

html, body {
	
	height: 100%;
	width: 100%;
	
	margin: 0;
	padding: 0;
	
}

body {
	
	background-color: #dce0ed;
	
	color: #543764;
	font-family: 'Dosis', Helvetica, Arial, 'sans-serif';		
	
}
	
.disabled {

	opacity: 0.2;

}

div.content {
	
	background-color: white;
	
	margin-bottom: 100px;

}

	div.content.active {
	
		display: block;
	
	}
	
	div.content:not(.active) {
		
		display: none;
		
	}
		
		div.content.query form {
		
			display: block;
		
			position: relative;
			left: 50%;
		
			width: 760px;
		
			padding: 20px;
		
			margin: 0 0 0 -400px;
			
		}
		
			div.content.query form label {
				
				position: relative;
				
				display: block;
				
				overflow: hidden;
				
				border-radius: 10px;
				padding: 5px;
				
				font-size: 20px;
				
			}
			
				div.content.query form label p {
				
					position: relative;
					
					float: left;
					
					margin: 0;
					
				}
				
				div.content.query form label input {
					
					display: block;
					
					position: relative;
					
					float: right;
				
				}
			
			div.content.query form input[type=text] {
	
				width: 75px;
				
				border-radius: 5px;
				border: 0;
					
				border-radius: 10px;
	
				text-align: center;
			}
		
				div.content.query form section header {
				
					position: relative;
				
					display: inline-block;
					
					height: 40px;
					width: 100%;
					
					padding: 5px;
					margin-bottom: 10px;
					
					border-botttom: 1px solid black;
				
					font-size: 30px;
				}
				
				div.content.query form section.twoCol {
				
					position: relative;
					
					overflow: hidden;
				
				}
				
					div.content.query form section.twoCol div {
					
						position: relative;
					
						width: 350px;
					
					}
					
						div.content.query form section.twoCol div.align-left {
						
							float: left;
							margin-left: 10px;
							
						}
						
						div.content.query form section.twoCol  div.align-right {
						
							float: right;
							margin-right: 10px;
							
						}
						
						div.content.query form section.twoCol div.align-left label:nth-child(odd), 
						div.content.query form section.twoCol div.align-right label:nth-child(even),
						div.content.query form section.twoCol div.align-left label:nth-child(even) input[type=text], 
						div.content.query form section.twoCol div.align-right label:nth-child(odd) input[type=text] {
							
							background-color: #ddd
							
						}
		
		div.content.query section#isFits input#isFits {
		
			display: none;
		
		}
		
		div.content.query section#submit button {
		
			position: relative;
			
			left: 50%;
			
			height: 40px;
			width: 200px;
		
			background: none;
			
			margin-top: 20px;
			margin-left: -100px;
			
			border: none;
			
			font-family: inherit;
			font-size: 25px;
			line-height: 40px;
			
			vertical-align: center;
			
		}
		
			div.content.query section#submit button:hover{
			
				cursor: pointer;
				
				background-color: #ddd;
				
				color: #fff;
			}
	
		div.content.process span {
			
			display: inline-block;
			
			width: 100%;

			text-align: center;
			
		}
			
			div.content.process span#procMsg {
			
				margin: 15px 0 5px 0;
			
				font-size: 20px;
				line-height: 20px;
				
			}
			
			div.content.process span#procCrt {
			
				margin: 5px 0 15px 0;
			
				font-size: 15px;
				line-height: 15px;
				
			}
