@charset UTF-8;

html, body {
	
	height: 100%;
	width: 100%;
	
	margin: 0;
	padding: 0;
	
}

body {
	
	background-color: #dce0ed;
	
	color: #543764;
	font-family: 'Dosis', Helvetica, Arial, 'sans-serif';		
	
}
	
.disabled {

	opacity: 0.2;

}

div.content {
	
	background-color: white;
	
	margin-bottom: 100px;

}

	div.content.active {
	
		display: block;
	
	}
	
	div.content:not(.active) {
		
		display: none;
		
	}
		
		div.content.query form {
		
			display: block;
		
			position: relative;
			left: 50%;
		
			width: 760px;
		
			padding: 20px;
		
			margin: 0 0 0 -400px;
			
		}
			
			div.content.query form div#galaxyImage {
			
				position: relative;
			
				font-size: 20px;
				
				margin-bottom: 10px;
				
			}
			
				div.content.query form div#galaxyImage input[name=galaxyImage] {
				
					position: absolute;
					right: 0;
					
					font-size: 15px;
				
				}
		
			div.content.query form div.option {
				
				position: relative;
				
				display: inline-block;
				
				overflow: hidden;
				
				border-radius: 10px;
				padding: 5px;
				
				font-size: 18px;
				
			}
			
				div.content.query form div.option label {
				
					position: relative;
					
					float: left;
					
					margin: 0;
					margin-left: 5px;
					
				}
				
				div.content.query form div.option input {
					
					display: block;
					
					position: relative;
					
					float: right;
					
					vertical-align: center;
				
				}
			
					div.content.query form div.option input[type=text] {
			
						width: 75px;
						
						border-radius: 5px;
						border: 0;
							
						border-radius: 10px;
			
						text-align: center;
					}
					
				div.content.query form div.option div.tooltip {
				
					display: none;
					position: absolute;
					
					top: 50px;
					
					background-color: #fff;
					
					border-radius: 5px;
				
				}
				
					div.content.query form div.option:hover div.tooltip {
					
						display: block;
					
					}
				
				div.content.query form section > header {
				
					position: relative;
				
					display: inline-block;
					
					height: 40px;
					width: 100%;
					
					padding: 5px;
					margin-bottom: 10px;
					
					border-botttom: 1px solid black;
				
					font-size: 30px;
				}
				
				div.content.query form section.twoCol {
				
					position: relative;
					
					overflow: hidden;
				
				}
				
					div.content.query form section.twoCol div {
					
						position: relative;
					
						width: 350px;
					
					}
					
						div.content.query form section.twoCol div.align-left {
						
							float: left;
							margin-left: 10px;
							
						}
						
						div.content.query form section.twoCol  div.align-right {
						
							float: right;
							margin-right: 10px;
							
						}
						
							div.content.query form section.twoCol div.align-left > div:nth-child(odd), 
							div.content.query form section.twoCol div.align-right > div:nth-child(even),
							div.content.query form section.twoCol div.align-left > div:nth-child(even) input[type=text], 
							div.content.query form section.twoCol div.align-right > div:nth-child(odd) input[type=text] {
								
								background-color: #ddd;
								
							}
	
			div.content.query section#mainOptions section.level {
			
				margin-bottom: 0;
			
			}	
			
				div.content.query section#mainOptions section.level.active {
			
					margin-bottom: 10px;
				
				}
				
				div.content.query section#mainOptions section.level:last-child {
				
					margin-bottom: 0;
				
				}
			
				div.content.query section#mainOptions section.level div.level-header {
				
					position: relative;
					width: 100%;
					
					font-size: 25px;
					
					border-radius: 10px;
				}
				
					div.content.query section#mainOptions section.level div.level-header:hover {
					
						background-color: #ddd;
						
						color: #fff;
						
					}
				
					div.content.query section#mainOptions section.level.active div.level-header {
					
						margin-bottom: 10px;
					
					}
									
					div.content.query section#mainOptions section.level div.level-header > *,
					div.content.query section#mainOptions section.level div.level-header {
					
						cursor: pointer;
					
					}
					
					div.content.query section#mainOptions section.level div.level-header > * {
					
						padding: 5px;
					
					}
					
					div.content.query section#mainOptions section.level div.level-header header{
				
						display: inline-block;
					
						margin-left: 30px;
						
					}
									
					div.content.query section#mainOptions section.level div.level-header span.expander {
					
						display: none;
						
						float: right;
						
						vertical-align: center;
						
					}
					
						div.content.query section#mainOptions section.level:not(.active) div.level-header span.expander.open,
						div.content.query section#mainOptions section.level.active div.level-header span.expander.close {
			
							display: inline-block;
		
						}
										
				div.content.query section#mainOptions section.level:not(#easy) div:not(.level-header){
				
					display: none;
					
				}
				
					div.content.query section#mainOptions section.level:not(#easy).active div:not(.level-header)
					{
					
						display: block;
						
					}
			
		
		div.content.query section#submit button {
		
			position: relative;
			
			left: 50%;
			
			height: 40px;
			width: 200px;
		
			background: none;
			
			margin-top: 20px;
			margin-left: -100px;
			
			border: none;
			border-radius: 10px;
			
			font-family: inherit;
			font-size: 25px;
			line-height: 40px;
			
			vertical-align: center;
			
		}
		
			div.content.query section#submit button:hover{
			
				cursor: pointer;
				
				background-color: #ddd;
				
				color: #fff;
			}
	
		div.content.process span {
			
			display: inline-block;
			
			width: 100%;

			text-align: center;
			
		}
			
			div.content.process span#procMsg {
			
				margin: 15px 0 5px 0;
			
				font-size: 20px;
				line-height: 20px;
				
			}
			
			div.content.process span#procCrt {
			
				margin: 5px 0 15px 0;
			
				font-size: 15px;
				line-height: 15px;
				
			}
