html, body {
	
	height: 100%;
	width: 100%;
	
	margin: 0;
	padding: 0;
	
}

header {
	
	font-family: 'Roboto Condensed', Impact, fantasy;
	font-weight: 300;
	
}

footer {
	
	padding: 20px 40px;
	
}


body {
	
	background-color: #eee;
	
	color: black;
	font-family: 'Source Sans Pro', Helvetica, Arial, 'sans-serif';		
	
}

a {
	
	color: #543764;
	text-decoration: none;	
}
	
	a:hover {
		
		cursor: pointer;
		
	}

div#content-container {
	
	width: 100%;
	
	padding: 20px 0;
	
	background-color: white;
	
}

	div#content-container div.content {
	
		display: none;
		
		position: relative;
		left: 50%;
	
		width: 800px;
		margin: 0 0 0 -400px;
				
		background-color: white;
		
	}


		div#content-container div.content.active {
		
			display: block;
		
		}