#sparcfire-top-nav {
	
	width: 100%;
	
	background-color: slateblue;
	
}

#sparcfire-top-nav header {
	
	display: inline-block;
	
	vertical-align: top;
	
	height: 40px;
	
	padding: 15px 40px 25px 40px;
	margin: 0;	
	
	font-family: 'Dosis', Impact, fantasy;
	color: white;
	font-size: 40px;
	line-height: 50px;
	
}

	#sparcfire-top-nav header span#beta-tag {
	
		font-size: 20px;
		
	}
#sparcfire-top-nav nav#pages {
	
	display: inline-block;
	
	vertical-align: top;
	
	height: 40px;
	
	padding: 20px 40px;
	
	text-align: center;	
	
}

	#sparcfire-top-nav nav#pages a {
	
		display: inline-block;
		
		padding: 5px 10px;
		margin: 0 10px 0 10px;
		
		background-color: slateblue;
		
		font-family: "Roboto Condensed", Arial, sans-serif;
		font-size: 20px;
		line-height: 30px;
		font-weight: 300;
		color: white;
		text-transform: uppercase;
		
		
	}
	
		#sparcfire-top-nav nav#pages a.active,
		#sparcfire-top-nav nav#pages a:hover {
		
			background-color: white;
			color: slateblue;
		
		} 