div.content {

	display: block;

	position: relative;
	left: 50%;

	width: 760px;

	padding: 20px;

	margin: 0 0 0 -400px;

}

	div#meta-container {
	
		width: 100%;
		
		background-color: lightgrey;
	
	}
		div#meta-container div#meta-inner {
		
			position: relative;
			left: 50%;
		
			width: 800px;
			
			margin-left: -400px;
			
		}
		
		div#meta-container div#meta-inner span,
		div#meta-container div#meta-inner a {
		
			display: inline-block;
			
			padding: 15px;
			
		}
		
			div#meta-container div#meta-inner * {
			
				vertical-align: middle;
				
			}
			
			div#meta-container div#meta-inner :not(#id) {
				
				font-weight: bold;
				
			}
			
			div#meta-container div#meta-inner span#id-label {
			
				width: 70px;
			
			}
			
			div#meta-container div#meta-inner span#id {
			
				width: 480px;
			
				background-color: #eee;
				
			}
			
			div#meta-container div#meta-inner a#download {

				margin-left: 20px;
				
				background-color: salmon;
				
				color: white;
				
				
			}
			
				div#meta-container div#meta-inner a#download:hover {
					
					background-color: firebrick;
				
				}
	
		div#resultImages figure.resultImage {
		
			display: inline-block;
			
			width: 225px;
			height: 250px;
			
			margin: 20px 0 20px 21px;
		
		}
		
			div#resultImages figure.resultImage img {
			
				width: 100%;
				height: auto;
			
			}

	div#error-before {
	
		margin-bottom: 20px;
		
	}
	
	pre#error-log {
	
		width: 720px;
	
		background-color: lightgrey;
		
		padding: 20px;
		
		font-size: 12px;
	
	}
	
div.content.result-search input {

	display: inline-block;
	
}

div.content.result-search label#result-search-label {

	display: block;
	font-size: 20px;
	
}

div.content.result-search input#result-search {

	width: 600px;
	height: 30px;

	padding: 5px;
	margin-top: 20px;

	border-radius: 10px;
	border: none;
	
	background-color: #eee;
	
	font-size: 20px;
	color: grey;
	
}

	div.content.result-search input#result-search.active {
	
		color: black;
	
	}

div.content.result-search input#result-search-submit {

	display: inline-block;
	
	height: 40px;
	
	background-color: green;
	
	padding: 5px 15px;
	
	border-radius: 10px;
	border: none;
	
	font-size: 20px;
	color: white;
	font-weight: bold;

}